* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #c5c5c5;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #666666;
}

.container {
    flex-direction: column;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    width: 100%;
    text-transform: capitalize;
    background-color: #393E46;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: medium;
}

.nav-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    font-size: larger;
    color: aliceblue;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    padding: 0px 20px;
    list-style: none;
}

.navigation a {
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

.navigation a:hover {
    border-bottom: solid 0.3px #f7f7f742;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.nav-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    box-shadow: 0px 10px -5px 0px #393E46;
    background-color: #f7f7f742;
}

.nav-title p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    text-transform: capitalize;
    font-size: xx-large;
    color: #393E46;
}

.line-title {
    margin: 0;
    width: 20%;
    height: 5px;
    background-color: #393E46;
}

.m-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    box-shadow: 0px 10px -5px 0px #393E46;
    background-color: #f7f7f7;
}

.m-title p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    text-transform: capitalize;
    font-size: xx-large;
    color: #393E46;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 100px 0px;
    width: fit-content;
}

.content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 40px 0px;
    gap: 20px;
}

.staff-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 40px 0px;
    border: solid 1px #393E4646;
    border-radius: 5px;
    color: #393E46;
    background-color: #f7f7f7;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.staff-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
}

.box-text {
    display: flex;
    flex-direction: row;
}

.title-text {
    padding: 10px;
    font-weight: bold;
    color: #393E46;
}

.title-text-action {
    width: 50%;
    padding: 10px;
    font-weight: bold;
    color: #393E46;
}

tr {
    border: solid 1px 0px #eee;
}

.text {
    padding: 10px;
}

.menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.text-box {
    justify-content: center;
    align-items: center;
    width: 180px;
    margin-top: 15px;
    padding: 5px 15px 15px 15px;
    border: solid 1px #393e4646;
    border-radius: 5px;
    color: #393E46;
    background-color: #F7F7F7;
}

.text-box img {
    padding: 10px 0px;
    width: 100%;
}

.add-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: solid 1px #393E4646;
    background-color: #f7f7f7;
}

.add-btn i {
    padding-right: 10px;
    color: #393E46;
}

.add-btn a {
    color: #393E46;
    font-size: small;
    text-decoration: none;
}

.line {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: #bdbdbd8c;
}

.line2 {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #bdbdbd8c;
}

.name {
    padding: 10px;
    font-size: larger;
}

.desc {
    padding: 5px 0px;
    font-size: medium;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.edit {
    margin: 10px 0px 0px 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #393E4646;
    background-color: #f7f7f7;
}

.edit a {
    text-decoration: none;
    color: #393E46;
    text-transform: capitalize;
    font-size: small;
}

.del {
    margin: 10px 0px 0px 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #393E4646;
    background-color: #f7f7f7;
}

.del a {
    text-decoration: none;
    color: #393E46;
    text-transform: capitalize;
    font-size: small;
}

.order {
    margin: 10px 0px 0px 5px;
    padding: 5px 8px;
    border-radius: 5px;
    border: solid 1px #eee;
    background-color: #9c9c9c8c;
}

.order i {
    padding-right: 5px;
}

.order a {
    text-decoration: none;
    color: #F7F7F7;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 80px 0px;
    padding: 40px 60px;
    width: max-content;
    border-radius: 5px;
    border: solid 1px #393E4646;
    color: #393E46;
    background-color: #F7F7F7;
}

label {
    padding-bottom: 10px;
}

.input-box {
    display: flex;
    width: 120%;
    border: solid 1px #393E4646;
    border-radius: 3px;
    margin: 0px 20px;
    padding: 5px;
    color: #393E46;
    background-color: #F7F7F7;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    border: solid 1px #c5c5c5;
    border-radius: 3px;
    margin: 0px 20px;
    padding: 5px;
    text-transform: capitalize;
    color: #F7F7F7;
    background-color: #bdbdbd8c;
}

.btn input:hover {
    transition: all .3s ease-in-out;
    background-color: #9c9c9c8c;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 100%;
    padding: 5px 0px;
    color: #F7F7F7;
    background-color: #393E46;
}